<div class="dashboard-container dash-bg col-md-12 p-3">
    <div class="row justify-content-between">
        <mat-card class="col-md-7 card-bg mat-card m-4 outer-card-b-shadow">
            <div class="p-2">
                <div class="fl-text-h1-primary" >
                Welcome <span class="fl-text-h1-primary" style="font-weight: bold;" >Leo Langlois</span>
                </div>
                <div class="fl-text-h2-primary pt-3">
                    We're Super Excited too have you on board.    
                </div>
            </div>
        </mat-card>
        <mat-card class="col-md-4 card-bg m-4 outer-card-b-shadow">
            <div class="">
                <div class="fl-text-b-primary">Upcomming Appoinments</div>
                <div class="row align-items-center  pt-3"> 
                    <div class="col-md-2">
                        <div class=" border rounded-circle arrow-border">
                            <i class="fa fa-angle-left" aria-hidden="true" style="font-size: 17px;font-weight: bold;color: #1fa4dd;"></i>
                        </div>
                    </div> 
                    <div class="col-md-8 p-0">
                        <div class="row "> 
                            <div class="col-md-4">
                                <img alt="profile" class="profile-image" src="assets/images/profile.jpg">
                            </div>
                            <div class="col-md-7">
                                <div class="row fl-text-b-secondary">Dr. Shaun Marsh</div>
                                <div class="row justify-content-between"> 
                                    <div class=""><i class="fa fa-clock-o" style="font-size: 19px;color: #9b9b9b;" aria-hidden="true"></i> </div> 
                                    <div class="fl-text-b-secondary">12:30pm </div> 
                                    <div class="text-muted" style="font-size: 12px;">Sep 16, 2020 </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class=" border rounded-circle selected-arrow">
                            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 17px; font-weight: bold; color: white;"></i>
                        </div>
                    </div> 
                </div>
                <div class="row justify-content-center mt-2">
                    <button class="btn button-details">View Details</button>
                </div>

            </div>
        </mat-card>
    </div>
    <div class="card-bg mx-2 outer-card-b-shadow">
        <div class="col-md-12">
            <div class="px-3 pt-3 row justify-content-between">
                <mat-form-field class="example-form-field">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" placeholder="City State or Zip">
                        <mat-icon matSuffix>search</mat-icon>
                </mat-form-field> 
                <div class="row" style="width: 250px;">
                    <mat-label class="col-md-12 text-muted" style="font-size: 10px;">Within Distance</mat-label>
                    <mat-slider class="fl-slider col-md-12 pb-0" min="0"max="25" ></mat-slider>
                    <div class="col-md-12 justify-content-between row p-0 fl-normal-text" style="width: 300px;">
                        <span class="text-small pl-3">0 mi</span>
                        <span class="text-small">25 mi</span>
                    </div>
                </div>
                    
                <mat-form-field class="demo-full-width" appearance="fill">
                    <select matNativeControl >
                    <option value="sp" selected>Insuarance</option>
                    <option value="valid" >Valid option</option>
                    <option value="invalid">Invalid option</option>
                    </select>
                </mat-form-field>
                    
                <mat-form-field class="demo-full-width" appearance="fill">
                    <select matNativeControl >
                    <option value="sp" selected>select Languages</option>
                    <option value="valid" >Valid option</option>
                    <option value="invalid">Invalid option</option>
                    </select>
                </mat-form-field>
                    
                <mat-form-field class="demo-full-width" appearance="fill">
                    <select matNativeControl >
                    <option value="sp" selected>select Specialities</option>
                    <option value="valid" >Valid option</option>
                    <option value="invalid">Invalid option</option>
                    </select>
                </mat-form-field>
            </div>
        </div>  
        <div class="col-md-12">
            <div class="px-3 row justify-content-between">
                <div class="row" style="width: 250px;">
                    <mat-label class="col-md-12 text-muted" style="font-size: 10px;">Gender</mat-label>
                    <mat-radio-group class="pl-3" aria-label="Select an option" [ngModel]="'male'" >
                        <mat-radio-button  class="fl-text-b-secondary pr-1" value="male" selected>Male </mat-radio-button>
                        <mat-radio-button class="fl-text-b-secondary" value="female">Female</mat-radio-button>
                      </mat-radio-group>
                </div>
                

                  <mat-form-field class="demo-full-width" appearance="fill">
                    <select matNativeControl >
                    <option value="sp" selected>Select Affilations</option>
                    <option value="valid" >Valid option</option>
                    <option value="invalid">Invalid option</option>
                    </select>
                </mat-form-field>
                    
                <mat-form-field class="demo-full-width" appearance="fill">
                    <select matNativeControl >
                    <option value="sp" selected>select Provider Types</option>
                    <option value="valid" >Valid option</option>
                    <option value="invalid">Invalid option</option>
                    </select>
                </mat-form-field>
                    
                <mat-form-field class="demo-full-width" appearance="fill">
                    <select matNativeControl >
                    <option value="sp" selected>select Provider Sub Types</option>
                    <option value="valid" >Valid option</option>
                    <option value="invalid">Invalid option</option>
                    </select>
                </mat-form-field>
                <div class="justify-content-center mt-2">
                    <button class="btn button-details">Reset Filters</button>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="fl-blue-text pl-2 pb-2">
                8 Records Found 
            </div>

            <div class="row ">
                <ng-container *ngFor="let item of data">

                    <div class="col-md-4 pb-4">
                        
                        <mat-card class="m-1 p-0 card-b-shadow">
                            <mat-card-header class="pt-3 pl-3">
                                <div mat-card-avatar><img alt="profile" class="profile-image" src="assets/images/profile.jpg"></div>
                                <mat-card-title>{{item.name}} <span class="fl-age">M(20)</span></mat-card-title>
                                <mat-card-subtitle class="fl-blue-text-secondary">{{item.specialist}}</mat-card-subtitle>
                            </mat-card-header>
                            <hr>
                            <mat-card-content class="px-3 pb-2">
                               <div class="row pb-2">
                                   <div class="col-md-5">
                                       <img src="assets/icons/marker.svg" width="12px">
                                       <span class="fl-blue-text-card-13">{{item.address}}</span>
                                    </div>
                                   <div class="col-md-7">
                                    <img src="assets/icons/city.svg" width="16px">
                                    <span class="fl-blue-text-card-13">{{item.hospital}}</span>
                                   </div>
                               </div>
                               <div class="row pb-2">
                                   <div class="col-md-5">
                                    <i class="fa fa-credit-card" aria-hidden="true" style="color:black"></i>
                                       <span class="fl-blue-text-card-14">{{item.department}}</span>
                                    </div>
                                   <div class="col-md-7">
                                    <i class="fa fa-star" aria-hidden="true" [style.color]="item.prefered ? '#ff8b46':'#9a9a9a' " ></i>
                                    <span class="fl-blue-text-card-13">preffered Doctor</span>
                                   </div>
                               </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>
